body {
    margin: 0px;
    background-color: grey;
}
#topbar {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    height: 40px;
    background-color: rgb(77, 77, 255);
}
#tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 300px;
    margin: auto;
    margin-top: 100px;
}
.row {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    background-color: honeydew;
    height: 300px;
    width: 100%;
    border-radius: 5px;
    border:indianred solid 4px;
    margin-bottom: 15px;
    text-align: center;
}
.data {
    
}
